.alert-success {
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 1px 3px 1px #0000003b;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
  animation: entry 0.8s;
}

.alert-success svg {
  color: rgb(45, 194, 0);
  font-size: 25px;
}

.alert-success h2 {
  color: rgb(45, 194, 0);
  font-size: 18px;
}

@media (max-width: 420px) {
  .alert-success h2 {
    font-size: 14px;
  }
}

@keyframes entry {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0);
  }
}
