@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  outline: none;
  padding: 1.2rem;
  background-color: #ff833e;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff7226;
}
